{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="head-container red-color center-txt">
    <div class="container">
        <h1>Contact</h1>
        <h4>Elegoua's team will be happy to help you with you dataset</h4>
    </div>
</div>

{% include "navbar.html" %}

<!-- main container -->
<div class="container" style="min-height:56vh">
  <!-- text and photo -->
  <div>
    <!-- good luck -->
    <div>
      <p class="fs-4 center-txt red-color">Are you lost ?</p>
      <p class="fs-6 center-txt">If you have any questions on your project or on Elegoua project, contact me.</p>
      <p class="fs-6 center-txt"><a href="mailto:alexis.bogroff.prof@gmail.com?subject=Questions concerning Elegoua App">alexis.bogroff.prof@gmail.com</a></p>
    </div>
    <!-- photo -->
    <div class="text-center">
      <img class="photo-img" src="{% static 'assets/undraw_Lost.png' %}" alt="">
    </div>
  </div>
</div>

<footer>
  <p>ELEGOUA - Copyright 2023</p>
</footer>

{% endblock %}