{% extends 'base.html' %}

{% block content %}
        <div class="form-container">
            <div>
            <p>Please answer to the different questions. Your answers will be used to assign you a dataset and questions  suitable with your level in python and your interests.</p>    
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
    <footer>
        <p>Copyright 2023</p>
    </footer>

</html>
{% endblock content %}