<header>
    <nav class="navbar container">
      <div class="container-fluid">
        <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Home</a>
        <a href="{% url 'form' %}"><i class="fa-solid fa-question"></i> Form</a>
        <a href="{% url 'origins' %}"><i class="fa-solid fa-book"></i> Origins</a>
        <a href="{% url 'team' %}"><i class="fa-solid fa-handshake"></i> Team</a>
        <a href="{% url 'contact' %}"><i class="fa-solid fa-address-book"></i> Contact</a>
        <a href="{% url 'demo' %}"><i class="fa-solid fa-film"></i> Demo</a>
      </div>
    </nav>
</header>
