{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="head-container red-color center-txt">
    <div class="container">
        <h1>Thanks</h1>
        <h4>You filled the form and will soon receive you dataset</h4>
    </div>
</div>

{% include "navbar.html" %}

<!-- main container -->
<div class="container" style="min-height:56vh">
  <!-- text and photo -->
  <div>
      <!-- good luck -->
      <div>
          <p class="fs-4 center-txt red-color">Ready to work ?</p>
          <p class="fs-6 center-txt">You correctly filled up your information. Please wait your project will arrive shortly.</p>
      </div>
      <!-- photo -->
      <div class="text-center">
        <img class="photo-img" src="{% static 'assets/undraw_Hiring.png' %}" alt="">
      </div>
      <!-- Dataset and question-->
      <div>
        <p class="fs-6 center-txt"> The level that you have indicated is {{level}}.</p>
        <p class="fs-6 center-txt"> The subject of your work will be related to {{subject}}.</p>
        <p class="fs-6 center-txt"> You will work on the following dataset : {{dataset}}.</p>
        <!--<p class="fs-6 center-txt"> You will have to answer the following question.</p>-->
      </div>
  </div>
</div>

<footer>
  <p>ELEGOUA - Copyright 2023</p>
</footer>

{% endblock %}